<section>
    <div class="row">


        <section class="col-xs-12">
            <div class="page-header audit-header">
                <h2 class="overflowText">Audit Page for {{auditKey}}</h2>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Action</th>
                        <th>ChangeBy</th>
                        <th>ChangeDate</th>
                        <th>Reason</th>
                        <th>Revert</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in auditList">
                        <td class="overflowText" title="{{item.value}}">{{item.value}}</td>
                        <td>{{item.userAction}}</td>
                        <td>{{item.committedBy}}</td>
                        <td>{{item.commitTime | date:'MM/dd/yyyy'}}</td>
                        <td>{{item.commitReason}}</td>
                        <td><a href="" ng-click="revert($index)" class="btn btn-default">Revert</a></td>
                    </tr>
                </tbody>
            <table>
        </section>
    </div>

    <!-- Revert -->
    <script type="text/ng-template" id="revertProperty.html">
        <div class="modal-header">
            <h4>Revert Property</h4>
        </div>
        <div class="modal-body">
            <p>Do you want to revert it to this value?</p>
        </div>
        <div class="modal-footer">
            <a href="" ng-click="revert()" class="btn btn-primary">YES</a>
            <a href="" ng-click="cancel()" class="btn btn-default">NO</a>            
        </div>
    </script>
    <!-- end Revert -->
</section>