
<section>
    <div class="row">

        <!-- Filters -->
        <section class="col-xs-2">
            <div class="page-header">
                <h2>Filters</h2>
            </div>

            <section class="filters">
                <h4>Scope:</h4>

                <div class="dropdown">
                    <a class="dropdown-toggle btn btn-default btn-block" id="drop1" role="button" data-toggle="dropdown" href="#" dropdown>{{selectedScopeName}} <b class="caret"></b></a>
                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li ng-click="changeScopeValue($index)" ng-repeat="item in scopeList" role="presentation"><a role="menuitem" tabindex="-1" href="">{{item.scopeName}}</a></li>
                    </ul>
                </div>                    

                <hr>
                <h4>Group:</h4>
                <div class="dropdown">
                    <a class="dropdown-toggle btn btn-default btn-block" id="drop1" role="button" data-toggle="dropdown" href="#" dropdown>{{selectedGroupName}} <b class="caret"></b></a>
                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li ng-click="changeGroupValue($index)" ng-repeat="item in groupList" role="presentation"><a role="menuitem" tabindex="-1" href="">{{item.groupName}}</a></li>
                    </ul>
                </div>
            </section>
        </section>
        <!-- end Filters -->

        <!-- Properties -->
        <section class="col-xs-10">
            <div class="page-header">
                <h2>Properties</h2>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="columnWidth">Key</th>
                        <th class="columnWidth">Value</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="property in properties">
                        <td title="{{property.key}}" class="columnWidth"><a href="{{'#/audit?entityId=' + property.entityId + '&groupId=' + property.groupId + '&scopeId=' + property.scopeId + '&groupName=' + selectedGroupName + '&scopeName=' + selectedScopeName}}">{{property.key}}</a></td>
                        <td title="{{property.value}}" class="columnWidth">{{property.value}}</td>
                        <td>
                            <a href="" ng-click="edit(property)"><span class="glyphicon glyphicon-pencil"></span></a>
                            <span class="space"></span>
                            <a href="" ng-click="remove(property)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </tbody>
            <table>
            <div class="pull-right">
                <a ng-click="add()" class="btn btn-primary">Add New Key</a>
            </div>
        </section>
        <!-- end Properties -->

    </div>

    <!-- Add -->
    <script type="text/ng-template" id="addProperty.html">
        <div class="modal-header">
            <h4>Add Property</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Key:</label>
                    <div class="col-sm-9">
                        <input type="text" 
                               class="form-control"
                               ng-model="property.key">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Value:</label>
                    <div class="col-sm-9">
                        <input type="text"
                               class="form-control"
                               ng-model="property.value">
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <a href="" ng-click="add()" class="btn btn-primary">SAVE</a>
            <a href="" ng-click="cancel()" class="btn btn-default">CANCEL</a>
        </div>
    </script>
    <!-- end Add -->

    <!-- Edit -->
    <script type="text/ng-template" id="editProperty.html">
        <div class="modal-header">
            <h4>Edit Property</h4>
        </div>
        <div class="modal-body">
            <form action="">
                <label class="editKeyLabel" for="">Enter new value for: <span class="editKey">{{newProperty.key}}</span></label>
                <input type="text"
                       class="form-control"
                       ng-model="newProperty.value">
                <label class="editKeyLabel" for="">Scope</label>
                <select class="form-control" name="category" ng-model="newProperty.scopeId" ng-options="c.scopeId as c.scopeName for c in scopeList">
                    <option value="">-- Choose Scope --</option>
                </select>

                <label class="editKeyLabel" for="">Group</label>
                <select class="form-control" name="category" ng-model="newProperty.groupId" ng-options="c.groupId as c.groupName for c in groupList">
                    <option value="">-- Choose Group --</option>
                </select>
            </form>
        </div>
        <div class="modal-footer">
            <a href="" ng-click="save()" class="btn btn-primary">SAVE</a>
            <a href="" ng-click="cancel()" class="btn btn-default">CANCEL</a>
        </div>
    </script>
    <!-- end Edit -->

    <!-- Remove -->
    <script type="text/ng-template" id="removeProperty.html">
        <div class="modal-header">
            <h4>Remove Property</h4>
        </div>
        <div class="modal-body">
            <p>Do you want to delete key?</p>
        </div>
        <div class="modal-footer">
            <a href="" ng-click="yes()" class="btn btn-primary">YES</a>
            <a href="" ng-click="cancel()" class="btn btn-default">NO</a>            
        </div>
    </script>
    <!-- end Remove -->
</section>