@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/bwang\/projects\/marshall\/marshall-web\/app\/styles\/main\.scss;
  }

  line {
    font-family: \000032;
  }
}

.mockup {
  padding-top: 30px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/bwang\/projects\/marshall\/marshall-web\/app\/styles\/main\.scss;
  }

  line {
    font-family: \000036;
  }
}

.dropdown-menu {
  width: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/bwang\/projects\/marshall\/marshall-web\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000310;
  }
}

.space {
  padding: 0 10px;
}

.table {
  table-layout: fixed;
}

.columnWidth {
  width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.editKey {
  color: red;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.overflowText {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.editKeyLabel {
  width: 550px;
}

.audit-header {
  width: 1000px;
}